Add ability to swap crypto implementation

The `v1.0.0-rc.1` version of `go-cose` computes the `digest` of CBOR-encoded signature structure using the golang built-in hash implementations regardless of the implementation of `Signer` and `Verifier`.

If someone wants to change the implementation of golang built-in `crypto` packages (e.g. use `openssl` based implementation) just for `go-cose`, they can only change for `Signer` and `Verifier` but not the hash implementations.

Proposal: Instead of passing `digest` to `Sign()` and `Verify()`, we should pass `content` (i.e. raw payload). Thus it matches [RFC 8152 section 8](https://datatracker.ietf.org/doc/html/rfc8152#section-8).

>    The signature functions for this scheme are:
> 
>       signature = Sign(message content, key)
> 
>       valid = Verification(message content, key, signature)

It also addresses the weird case that `Ed25519` passes CBOR-encoded signature structure instead of digest to Signer as Ed25519 requires the content to be processed twice.