Header "typ" syntax check

I was wondering if the check for HeaderLabelType might be to strict. 

https://github.com/veraison/go-cose/blob/92fbe9502b2c7e2fcc4300348e023088ef3754a7/headers.go#L514-L517

This line enforces having a <type>/<subtype> syntax. However I can not figure out if this is really required.

RFC9596 (https://www.rfc-editor.org/rfc/rfc9596) says it has the ContentType syntax, but refers to the names in https://www.iana.org/assignments/media-types which do not have that format.

My use case is implementing statuslists which requires the type label to be "statuslist+cwt"
https://datatracker.ietf.org/doc/html/draft-ietf-oauth-status-list-06#name-status-list-in-json-format


[RFC 9596 Section 2](https://www.rfc-editor.org/rfc/rfc9596#name-cose-typ-type-header-parame) defines `typ` is either an uint CoAP Content-Format or a string content type value.

[RFC 6838 Section 4.2](https://www.rfc-editor.org/rfc/rfc6838.html#section-4.2) states that

> All registered media types MUST be assigned top-level type and subtype names.

In other words, a string `typ` must be `<type-name>/<subtype-name>`. That is, a `/` is required.

The value `statuslist+cwt` does not meet name requirement and thus cannot be registered, and thus is not a valid value of `typ` as defined by RFC 9596.

Further reference can be found for the definition of the media type `type "/" subtype  *(";" parameter)`:
- [RFC 2045 Section 5.1](https://www.rfc-editor.org/rfc/rfc2045#section-5.1)
- [RFC 4855 Section 3](https://www.rfc-editor.org/rfc/rfc4855.html#section-3)

This is off topic for the repo, but for future readers. 

JOSE allows dropping the application prefix in certain contexts for `typ` and `cty`.

See: https://datatracker.ietf.org/doc/html/rfc7515#section-4.1.10

COSE does not.