Update cose-spec from draft to RFC 9052

The cose-spec in README uses the URL of the draft (8152bis) leading to RFC 9052:
https://datatracker.ietf.org/doc/draft-ietf-cose-rfc8152bis-struct/

RFC 9052 is the updated COSE specification that (together with RFC 9053) obsoletes RFC 8152.  

PR #109 updates cose-spec to use URL of RFC 9052 and avoids relying on URL redirection:
https://datatracker.ietf.org/doc/rfc9052/