Deterministic ECDSA

[RFC 8152 Section 8.1](https://datatracker.ietf.org/doc/html/rfc8152#section-8.1) require ECDSA to be deterministic.

> Implementations SHOULD use a deterministic version of ECDSA such as the one defined in [[RFC6979](https://datatracker.ietf.org/doc/html/rfc6979)].
> The use of a deterministic signature algorithm allows for systems to avoid relying on random number generators in order to avoid generating the same value of 'k' (the per-message random value).

However, the current implementation is **non-deterministic** (i.e. standard).

It is known that, as also referenced by Stephen in the deck above, solely relying on a good PRNG for k is harmful. While the spec says SHOULD and not a MUST, I'd encourage adding deterministic ECDSA for applications to choose to avoid cases where a good PRNG may not be available.

Assigning to @thomas-fossati for updating the discussion. 

The rationale behind the recommendation done in RFC8152 is now being reconsidered in the light of fault attacks such as [Poddebniak17](https://eprint.iacr.org/2017/1014.pdf).

The revised COSE spec, which is sitting in the RFC editor queue, has been recently updated with [a note](https://www.rfc-editor.org/authors/rfc9053.html#section-2.1.1-2) describing the risks associated with fully deterministic ECDSA.  (Note that the arguments for "deterministic is still a good idea" have become pretty weak.)

A similar point was raised in the [TLS BCP](https://www.ietf.org/archive/id/draft-ietf-uta-rfc7525bis-09.html#section-4.2-7) and more broadly in the [CFRG](https://datatracker.ietf.org/meeting/113/materials/slides-113-cfrg-signatures-deterministic-vs-randomized-00).

Add to this that:
1. To avoid the risks associated with a bad CSPRNG, the golang implementation already uses a deterministic+noise construction, see: [ECDSA Sign](https://cs.opensource.google/go/go/+/refs/tags/go1.18.3:src/crypto/ecdsa/ecdsa.go;l=194)
2. The kind of devices we target typically rely on more than decent CSPRNGs -- the main drive for deterministic was COSE targeting constrained / low-end devices with bad or non-existent CSPRNGs.
3. We allow our users to supply their signer implementation, so if they wanted they could implement https://datatracker.ietf.org/doc/html/rfc8032#section-5.1.6 and plug it into their calls to [`Sign1`](https://github.com/veraison/go-cose/blob/62383c287782d0ba5a6f82f984da0b841e434298/sign1.go#L226).

Overall the situation is pretty fluid, and I'd prefer to wait at least until a new set of recommendations solidifies that we can adopt with confidence.









> To avoid the risks associated with a bad CSPRNG, the golang implementation already uses a deterministic+noise construction, see: [ECDSA Sign](https://cs.opensource.google/go/go/+/refs/tags/go1.18.3:src/crypto/ecdsa/ecdsa.go;l=194)

For reference, this is the commit where Go crypto implemented countermeasures for bad CSPRNGs: https://github.com/golang/go/commit/a8049f5

This issue is not blocking release at all! 

Triage: Closing, as we do not plan to support Deterministic ECDSA, because the underlying library doesn't support. 
May reconsider in the future. 

Upstream support for deterministic ECDSA has just been seriously proposed: https://github.com/golang/go/issues/64802.

Thanks, @qmuntal  As 64802 progresses, we can re-open to be actionable. 