Invalid COSE_Sign1 non-bstr payload or signature messages should be rejected

Found via fuzzing.

`Sign1Message.UnmarshalCBOR` does not check that the payload and the signature strictly follow the `COSE_Sign1` definition.

### What did you do?

```go
package main

import "github.com/veraison/go-cose"

func main() {
	b := []byte("҄҄C\xa100\xa100T00000000000000000000X\x100000000000000000")
	var msg cose.Sign1Message
	err := msg.UnmarshalCBOR(b)
	if err == nil {
		panic("error expected!")
	}
}
```

### What did you expect to see?

UnmarshalCBOR returns an error due to malformed COSE_Sign1 message

### What did you see instead?

UnmarshalCBOR does not return an error.

Notice that the `[]byte("҄҄C\xa100\xa100T00000000000000000000X\x100000000000000000")` input has an invalid Signature type. It is a text string, major type 3, when it should be a must be a byte string, major type 2, as per [RFC8152, Section 4.2](https://datatracker.ietf.org/doc/html/rfc8152#section-4.2)

Closing as not an issue. `[]byte("҄҄C\xa100\xa100T00000000000000000000X\x100000000000000000")` is a valid input, just not in a canonical form.

Thanks @shizhMSFT for investigating this and sharing the result with me offline.