Make Key more extensible

I'm opening this issue to discuss the `Key` design before cutting `v1.2.0` @setrofim (I've removed the tag and release you just created).

Extracted from https://github.com/veraison/go-cose/pull/146#pullrequestreview-1492955742:

The `Key` struct, implemented in #146, contains all known key parameters, that is, from EC2, OKP and Symmetric Keys. This doesn't scale well, as in the future we might want to support new keys that, for example, defines D as a `tstr` instead of `bstr`, in which case it will be hard to retrofit the new key. In fact, this already seems to happen with EC2 y-coordinate, we only support `bstr` but the spec also supports bool.

IMO it would have been better to define key parameters in separate structs, one for each key type, and have `Key` just contain a property like Params any, which could contain the specialized parameters struct.

@shizhMSFT 


List of things (for myself) that I'm finding while working on the proposal:
- `Key.Validate` errors if `Key.Curve` is not one of the curves we support, but [RFC 8152 Section 13.1.1](https://www.rfc-editor.org/rfc/rfc8152#section-13.1.1) says this: `Other curves may be registered in the future, and private curves can be used as well.` We are calling `Key.Validate` after unmarshaling the key, so the current design doesn't support custom keys.

> Key.D is used to store the symmetric key private key, but [RFC 8152 Section 13.3](https://www.rfc-editor.org/rfc/rfc8152#section-13.3) named is k. This will confuse users.

Please could you clarify this? As far as I can see, `Key.K` is used when marshalling Symmetric keys (see https://github.com/veraison/go-cose/blob/main/key.go#L590 and  https://github.com/veraison/go-cose/blob/main/key.go#L533).  `Key.PrivateKey()` will error with `unexpeted key type "Symmetric"` (as we currently do not support any symmetric algorithms).

> Please could you clarify this? As far as I can see, Key.K is used when marshalling Symmetric keys (see https://github.com/veraison/go-cose/blob/main/key.go#L590 and https://github.com/veraison/go-cose/blob/main/key.go#L533). Key.PrivateKey() will error with unexpeted key type "Symmetric" (as we currently do not support any symmetric algorithms).

Hug, I misunderstood the `Key` docs. I now see a symmetric private key is stored in `K`, not `D`.


Done!